
# Python cache
__pycache__/
*.pyc

# Embeddings / Model / Cache
data/*.pkl
data/*.npy
data/*.npz
data/*.json
cache/
tmp/
*.cache
*.bin

# Hugging Face / Transformers cache
huggingface/
transformers/
*.jsonl

# Windows system files
Thumbs.db
ehthumbs.db
desktop.ini

# IDE config
.vscode/
.idea/


